{#
/**
 * @file
 * Default theme implementation for a 'crafter_example' theme.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - name: name string field.
 * - age: age int field
 * - sex: sex field
 *
 * @see template_preprocess_crafter_example()
 */
#}
{%
  set class = [
  'my-crafter-example',
]
%}
<div {{ attributes.addClass(class) }}>
  <span>{{ name }}</span>
  <span>{{ get_sex_property(sex) }}</span>
  {% if age %}
  <span>{{ age }}</span>
  {% endif %}
</div>

